@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutOgani.cshtml";
}
<<<<<<< HEAD
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TDanhMucSp>
@foreach(var item in Model)
{
    @await Html.PartialAsync("PartialSanPham",item)
}
<div class="product__pagination">
    @Html.PagedListPager(Model, page=>Url.Action("Index",new{page=page}))
</div>

=======
<h1>Trần Duy Khang</h1>
>>>>>>> 57c7d99aacb50f7c333ac817e69e28f83af7bc6d
